.navbar {
  position: fixed;
  top: 45px; /* debajo del banner */
  left: 0;
  right: 0;
  height: 70px;
  background: #0071bc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.navbar-container {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
}
/*el menu de hamburguesa*/
.menu-btn {
  border: none;
  background: #303030;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.menu-btn:hover {
  background: #adadad;
}
/*forma del logo*/
.logo-img {
  height: 45px;
  width: auto;
  object-fit: contain;
  margin-left: 10px;
  margin-top: 5px;
}
/*el navbar de usuario y configuracion*/
.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
/*donde se encuentra el nombre de usuario y el icono administrador*/
.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  /* background: #303030; */
}

.user-circle {
  background: linear-gradient(135deg, #338dc9, #0071bc);
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*icono de notificacion y configuracion*/
.icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
  position: relative;
}

.icon-btn:hover {
  background:#303030;
}

.icon {
  width: 26px;
  height: 26px;
  color: white;
}

.icon-sm {
  width: 18px;
  height: 18px;
  color: white;
}

.badge {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 180px;
  background: #303030;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
}

.dropdown button {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  padding: 12px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown button:hover {
  background: #adadad;
}

.dropdown button:first-child {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.dropdown-icon {
  width: 18px;
  height: 18px;
  color: white;
}
.logo-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

@media (max-width: 900px) {
  .navbar-container {
    padding: 0 10px;
  }

  .navbar-left {
    gap: 8px;
  }

  .menu-btn {
    padding: 8px;
  }

  .logo-img {
    height: 30px;
    margin-left: 0;
    margin-top: 0;
  }

  .navbar-right {
    gap: 4px;
  }

  .user-box {
    padding: 6px;
    gap: 0;
  }

  .user-box span {
    display: none;
  }
}
